version: '3'

services:
  directus:
    image: directus/directus:latest
    container_name: directus
    restart: unless-stopped
    ports:
      - "8055:8055"
    volumes:
      - ./uploads:/directus/uploads
      - ./extensions:/directus/extensions
      - ./database:/directus/database
    environment:
      KEY: "68cb0d450610a4b125629e6d03e177f303b1b396f17b020f64209c7e100e6685"
      SECRET: "3bab05b51e5d40d5af68874508a9e4dc51b9beb02a396d6a8171ea71bfb5336a"
      
      # PostgreSQL connection
      DB_CLIENT: "pg"
      DB_HOST: "host.docker.internal"
      DB_PORT: "5432"
      DB_DATABASE: "mindful_journal"
      DB_USER: "mindful"
      DB_PASSWORD: "Lvg4B84EmYw1cLUCJ4ciurVn7X80absS"
      DB_SEARCH_PATH: "app"
      
      # Admin account
      ADMIN_EMAIL: "u-698@yandex.ru"
      ADMIN_PASSWORD: "1488Tuhev/1312!"
      
      # Public URL
      PUBLIC_URL: "https://admin.grammvpn.ru"
      
      # Allow flows to use external modules
      FLOWS_EXEC_ALLOWED_MODULES: "axios,node-fetch"
    extra_hosts:
      - "host.docker.internal:host-gateway"
